extends ../mainLayout

block additionalHeadElementContent
    // Since collaborativity is not required in this view, CodeMirror is not imported

    // YASHE stylesheet
    link(rel='stylesheet', type='text/css', href='https://cdn.jsdelivr.net/npm/yashe@1.3.22/dist/yashe.min.css')
    // YASHE dependencies
    script(src='https://cdn.jsdelivr.net/npm/yashe@1.3.22/dist/yashe.bundled.min.js')

    // Client-side JavaScript: SimpleYASHE does not implement collaborativity
    script(type='module', src='/scripts/simpleyashe.js')
block mainElementContent
    h2 Create a piece of sheet
    if !username
        p You cannot upload the sheet, because you are not logged in. Save your changes in your computer before you close this window.
    form(action='/createSheet', method='post')
        p
            label(for='fTitle') Title
        p
            input(type='text', id='fTitle', name='title', required)
        p
            if username
                input(type='submit' value='Upload sheet')
        p
            input(type='reset' value='Clear this form')
        p
            label(for='fContent') Content
        textarea(id="fContent", name='content')