extends ../mainLayout

block additionalHeadElementContent
    // This view does not require any additional script or stylesheet
block mainElementContent
    h2 Log into your account
    form(action='/login', method='post')
        p
            label(for='fUsername') Username
        p
            input(type='text', id='fUsername', name='username')
        p
            label(for='fPassword') Password
        p
            input(type='password', id='fPassword', name='password')
        p
            input(type='submit' value='Log in')