extends mainLayout

block bodyContent
    aside
        form(action='/createSheet')
            button(type='submit') New sheet
        if ownedSheets
            ul
                each sheet in ownedSheets
                    li #{sheet.title}
        else
            p You haven't any sheet yet.
    main
        block content