body {
    display: grid;
    grid-template-areas:
        'header header header'
        'aside main main'
        'aside footer footer';
    grid-template-columns: 0.35fr 1fr 1fr;
    gap: 0.25em;
    word-wrap: break-word;
}
header {
    grid-area: header;
}
main {
    grid-area: main;
}
aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
footer {
    grid-area: footer;
}
