extends ./mainLayout

block additionalHeadElementContent
    // This view does not require any additional script or stylesheet
block mainElementContent
    h2=title
    p ShareYASHE is a collaborative cloud-based ShEx (Shape Expressions) editor which is derived from the#{' '}
        a(href='https://www.weso.es/YASHE/') YASHE#{' '}
        | editor.

