extends mainLayout

block bodyContent
    aside
        if ownedSheets
            figure
                figcaption Your sheets
                ul
                    each sheet in ownedSheets
                        li
                            a(href='/sheet/' + sheet.sheetId) #{sheet.title}
        else
            p You haven't any sheet yet.
    main
        block content